.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}

/* @media (min-width: 480px) telefono */
/* @media (min-width: 720px) tablet */
/* @media (min-width: 1140px) laptop o computadora */
/* @media (min-width: 1440px) laptop o computadora màs larga*/
